<div class="relative inline-block text-left">
  <div>
    <button
      class="inline-flex justify-center w-full rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50">
      Select Tenant
      <!-- Downward Arrow Icon -->
    </button>
  </div>
  <div
    class="origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5">
    <div
      class="py-1"
      role="menu"
      aria-orientation="vertical"
      aria-labelledby="options-menu">
      <a
        *ngFor="let tenant of tenants"
        href="#"
        class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
        role="menuitem"
        >{{ tenant }}</a
      >
    </div>
  </div>
</div>
