<!-- user-menu.component.html -->
<button id="user-menu-button" type="button" (click)="onClicked($event)">
	<div class="flex flex-row w-full items-center rounded-full">
		<!-- Avatar or initials container -->
		<div class="flex flex-col items-centers">
			<div *ngIf="user.avatar; else showInitials" class="w-10 h-10 rounded-full">
				<img [src]="user.avatar" alt="User avatar" class="rounded-full shadow-md" />
			</div>
			<ng-template #showInitials>
				<div
					class="user-initial w-10 h-10 rounded-full bg-white text-blue-600 border-2 border-blue-600 flex items-center justify-center text-lg font-semibold">
					<span>
						{{ getUserInitials() }}
					</span>
				</div>
			</ng-template><!-- User name and title, visible only when expanded -->
		</div>
		<div class="flex flex-col items-start ml-2 mb-1 overflow-hidden transition-visible duration-300 ease-in-out"
			[class.opacity-0]="!isExpanded" [class.opacity-100]="isExpanded">
			<div class="font-medium whitespace-nowrap">{{ username }}</div>
			<div class="text-xs text-gray-600 whitespace-nowrap -mt-1">{{ jobTitle }}</div>
		</div>

		<!-- Three-dot menu icon, visible only when expanded -->
		<div class="flex-shrink-0 ml-2 transition-opacity duration-100 ease-in-out" [class.opacity-0]="!isExpanded"
			[class.opacity-100]="isExpanded">
			<!-- Your three-dot menu icon SVG or component -->
		</div>
	</div>
</button>