<div [layout]="'main'">
    <table datagrid [datasource]="data" class="border">
        <ng-container columnDef="birthDate">
            <th *columnHeaderDef>Birthdate</th>
            <td *cellDef="let item">{{ item.birthDate | date: 'shortDate' }}</td>
        </ng-container>
    </table>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
    incididunt ut labore et dolore magna aliqua. Maecenas volutpat blandit aliquam
    etiam erat velit scelerisque in. Congue quisque egestas diam in arcu cursus.
    Cursus sit amet dictum sit amet justo. Lectus urna duis convallis convallis
    tellus id interdum velit. Neque sodales ut etiam sit amet nisl purus in. Velit
    egestas dui id ornare. Vel elit scelerisque mauris pellentesque pulvinar
    pellentesque habitant morbi tristique. Donec massa sapien faucibus et. Cras
    semper auctor neque vitae tempus quam pellentesque nec. Massa tempor nec feugiat
    nisl pretium fusce id velit. Mauris a diam maecenas sed enim ut sem viverra.
    Cras fermentum odio eu feugiat pretium nibh. Placerat orci nulla pellentesque
    dignissim enim sit. Turpis massa sed elementum tempus. Ornare suspendisse sed
    nisi lacus sed viverra tellus in hac. Eget gravida cum sociis natoque penatibus
    et. Lectus quam id leo in vitae turpis massa sed elementum. In fermentum posuere
    urna nec. A scelerisque purus semper eget duis at. Egestas congue quisque
    egestas diam in. Faucibus vitae aliquet nec ullamcorper sit amet risus. Nunc
    faucibus a pellentesque sit amet porttitor eget. Elementum eu facilisis sed odio
    morbi quis commodo odio aenean. Volutpat commodo sed egestas egestas. Nibh
    mauris cursus mattis molestie a. Eu volutpat odio facilisis mauris sit amet
    massa. Urna neque viverra justo nec ultrices. Varius quam quisque id diam vel
    quam elementum pulvinar etiam. Mattis nunc sed blandit libero volutpat sed cras
    ornare arcu. At tellus at urna condimentum mattis pellentesque id. Velit
    dignissim sodales ut eu sem integer. Convallis aenean et tortor at risus viverra
    adipiscing. Et netus et malesuada fames. Nullam ac tortor vitae purus faucibus
    ornare. Aenean sed adipiscing diam donec adipiscing tristique. Arcu dictum
    varius duis at consectetur lorem donec massa sapien. In egestas erat imperdiet
    sed euismod nisi. Ipsum dolor sit amet consectetur adipiscing elit pellentesque
    habitant morbi. Ut diam quam nulla porttitor massa id neque aliquam. Porta non
    pulvinar neque laoreet suspendisse. Nisi scelerisque eu ultrices vitae auctor
    eu. Felis imperdiet proin fermentum leo vel orci porta. Gravida quis blandit
    turpis cursus in hac habitasse. Maecenas pharetra convallis posuere morbi leo.
    Consectetur adipiscing elit pellentesque habitant morbi tristique senectus et
    netus. Sit amet risus nullam eget felis eget nunc lobortis mattis. Vitae
    suscipit tellus mauris a diam maecenas sed. Imperdiet proin fermentum leo vel.
    Sit amet est placerat in egestas erat imperdiet sed euismod. Amet commodo nulla
    facilisi nullam vehicula ipsum a arcu. Donec et odio pellentesque diam volutpat
    commodo sed egestas egestas. Suspendisse potenti nullam ac tortor vitae purus
    faucibus ornare suspendisse. Eu non diam phasellus vestibulum. Pellentesque elit
    ullamcorper dignissim cras tincidunt lobortis. Ultrices mi tempus imperdiet
    nulla malesuada. Est placerat in egestas erat. Condimentum lacinia quis vel eros
    donec. Diam phasellus vestibulum lorem sed risus ultricies tristique nulla. Et
    malesuada fames ac turpis egestas maecenas pharetra convallis posuere.
    Pellentesque elit ullamcorper dignissim cras tincidunt. Aliquet enim tortor at
    auctor urna nunc id cursus metus. Feugiat in fermentum posuere urna nec. Donec
    ac odio tempor orci. Nisi lacus sed viverra tellus in hac habitasse. Nibh cras
    pulvinar mattis nunc sed. Nulla porttitor massa id neque aliquam vestibulum
    morbi. Viverra orci sagittis eu volutpat odio. Sem integer vitae justo eget. Sit
    amet consectetur adipiscing elit ut aliquam purus sit. Magna sit amet purus
    gravida quis blandit turpis. Donec massa sapien faucibus et molestie. Iaculis
    urna id volutpat lacus. Tempus quam pellentesque nec nam. Mauris commodo quis
    imperdiet massa. Donec ac odio tempor orci dapibus ultrices in. Eu scelerisque
    felis imperdiet proin fermentum leo. Convallis tellus id interdum velit. Augue
    lacus viverra vitae congue eu consequat ac felis. Adipiscing elit pellentesque
    habitant morbi tristique. Et ultrices neque ornare aenean euismod elementum nisi
    quis eleifend. Sit amet nisl suscipit adipiscing. Purus faucibus ornare
    suspendisse sed nisi lacus sed. A pellentesque sit amet porttitor eget. Duis ut
    diam quam nulla porttitor massa id. Et netus et malesuada fames ac. Elit
    pellentesque habitant morbi tristique senectus et. Dui accumsan sit amet nulla.
    Consectetur adipiscing elit pellentesque habitant morbi. Nisl pretium fusce id
    velit ut tortor pretium viverra suspendisse. Ultrices sagittis orci a
    scelerisque purus semper eget duis. Elit eget gravida cum sociis natoque
    penatibus. Aenean sed adipiscing diam donec adipiscing tristique. Quis vel eros
    donec ac odio tempor orci. Id interdum velit laoreet id donec ultrices
    tincidunt. At urna condimentum mattis pellentesque id nibh. In hac habitasse
    platea dictumst. In hac habitasse platea dictumst quisque sagittis purus sit
    amet. Ipsum dolor sit amet consectetur. Non sodales neque sodales ut etiam sit.
    Tellus at urna condimentum mattis pellentesque id. Proin nibh nisl condimentum
    id. Tempus urna et pharetra pharetra. Diam ut venenatis tellus in metus
    vulputate eu. Consectetur a erat nam at. Gravida in fermentum et sollicitudin ac
    orci. Vel risus commodo viverra maecenas accumsan lacus vel facilisis. Eu
    consequat ac felis donec et. Consectetur adipiscing elit pellentesque habitant
    morbi tristique senectus et. Aliquam id diam maecenas ultricies mi eget mauris.
    Sit amet massa vitae tortor. Eget nulla facilisi etiam dignissim diam quis.
    Aliquet risus feugiat in ante metus. Turpis massa tincidunt dui ut ornare lectus
    sit. In cursus turpis massa tincidunt dui ut ornare lectus sit. Vestibulum
    lectus mauris ultrices eros. Enim facilisis gravida neque convallis a cras
    semper auctor neque. Neque ornare aenean euismod elementum nisi quis eleifend.
    Natoque penatibus et magnis dis parturient montes nascetur ridiculus. Nunc
    lobortis mattis aliquam faucibus purus in massa. Feugiat pretium nibh ipsum
    consequat. Ac orci phasellus egestas tellus. Sagittis id consectetur purus ut
    faucibus pulvinar elementum integer. At varius vel pharetra vel turpis nunc.
    Sagittis eu volutpat odio facilisis mauris sit amet massa vitae. Aliquam ut
    porttitor leo a diam sollicitudin tempor. Diam phasellus vestibulum lorem sed
    risus ultricies tristique nulla. Morbi leo urna molestie at elementum. Convallis
    convallis tellus id interdum velit. Ut consequat semper viverra nam libero
    justo. THE END
</div>