<div>
  <a routerLink="/">home</a>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
  incididunt ut labore et dolore magna aliqua. Maecenas volutpat blandit aliquam
  etiam erat velit scelerisque in. Congue quisque egestas diam in arcu cursus.
  Cursus sit amet dictum sit amet justo. Lectus urna duis convallis convallis
  tellus id interdum velit. Neque sodales ut etiam sit amet nisl purus in. Velit
  egestas dui id ornare. Vel elit scelerisque mauris pellentesque pulvinar
  pellentesque habitant morbi tristique. Donec massa sapien faucibus et. Cras
  semper auctor neque vitae tempus quam pellentesque nec. Massa tempor nec
  feugiat nisl pretium fusce id velit. Mauris a diam maecenas sed enim ut sem
  viverra. Cras fermentum odio eu feugiat pretium nibh. Placerat orci nulla
  pellentesque dignissim enim sit. Turpis massa sed elementum tempus. Ornare
  suspendisse sed nisi lacus sed viverra tellus in hac. Eget gravida cum sociis
  natoque penatibus et. Lectus quam id leo in vitae turpis massa sed elementum.
</div>