<!-- Sidebar for larger screens (md and above) -->
<div tabindex="0"
  class="sidebar hidden sm:flex flex-col justify-between h-full bg-white border-r border-gray-200 absolute z-50 transition-all duration-300 ease-in-out"
  [class.w-20]="!isExpanded" [class.w-72]="isExpanded" (click)="togglePinState()" (keypress)="onKeyPress($event)"
  (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()" (mousemove)="onMouseMove()">
  <div class="flex grow flex-col w-full gap-y-5 overflow-x-hidden overflow-y-auto px-4 pb-4">
    <div class="flex h-16 shrink-0 items-center mx-auto">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true"
        class="h-10 w-10 shrink-0 font-semibold text-blue-700">
        <path fill-rule="evenodd"
          d="M1.5 7.125c0-1.036.84-1.875 1.875-1.875h6c1.036 0 1.875.84 1.875 1.875v3.75c0 1.036-.84 1.875-1.875 1.875h-6A1.875 1.875 0 011.5 10.875v-3.75zm12 1.5c0-1.036.84-1.875 1.875-1.875h5.25c1.035 0 1.875.84 1.875 1.875v8.25c0 1.035-.84 1.875-1.875 1.875h-5.25a1.875 1.875 0 01-1.875-1.875v-8.25zM3 16.125c0-1.036.84-1.875 1.875-1.875h5.25c1.036 0 1.875.84 1.875 1.875v2.25c0 1.035-.84 1.875-1.875 1.875h-5.25A1.875 1.875 0 013 18.375v-2.25z"
          clip-rule="evenodd"></path>
      </svg>
    </div>
    <nav class="flex flex-1 flex-col">
      <ul role="list" class="sidebar-nav flex flex-1 flex-col space-y-1">
        <li *ngFor="let navItem of navItems" class="nav-item">
          <a class="group flex gap-x-2 px-3 py-3 leading-6 font-medium text-gray-700 hover:text-blue-600 hover:bg-gray-100 rounded-3xl"
            [class.active]="isNavItemActive(navItem)" [routerLink]="navItem.path" [title]="navItem.title"
            (click)="$event.stopPropagation()">
            <ng-icon size="1.5em" class="icon text-gray-400 group-hover:text-blue-600" [name]="navItem.icon"></ng-icon>
            <span *ngIf="isExpanded" class="label transition-all duration-300 ease-in-out">
              {{ navItem.title }}
            </span>
          </a>
        </li>
      </ul>
    </nav>
    <div class="flex flex-row -ml-4 pl-4 border-t pt-4" [class.w-20]="!isExpanded" [class.w-72]="isExpanded">
      <app-user-menu [isExpanded]="isExpanded"></app-user-menu>
    </div>
  </div>
</div>