<div tabindex="-1"
  class="flex flex-col h-full py-2.5 border-r border-gray-200 bg-white transition-width duration-300 ease-in-out overflow-y-hidden"
  [class.w-20]="!isExpanded" [class.w-72]="isExpanded" (click)="onClicked($event)" (keypress)="onKeyPress($event)">
  <div class="flex grow flex-col gap-y-5 overflow-hidden px-4">
    <!-- Sticky top brand section -->
    <header class="sticky bg-white m-auto">
      <div class="flex flex-row items-center shrink-0">
        <img src="assets/img/logo.png" alt="Logo" class="w-12 h-12" />
        <h1 class="brand self-center font-bold text-3xl ml-2 transition-all duration-300 ease-in-out"
          [class.opacity-0]="!isExpanded" [class.opacity-100]="isExpanded">
          PRiSM
        </h1>
      </div>
    </header>
    <!-- nav -->
    <div class="flex flex-row flex-1 -mx-4 px-4 -my-5 pt-5 overflow-x-hidden overflow-y-auto z-10">
      <nav tabindex="-1" class="flex flex-1 flex-col mx-1">
        <ul tabindex="-1" role="list" class="sidebar-nav flex flex-1 flex-col space-y-1">
          <li *ngFor="let navItem of navItems; index as i" class="nav-item">
            <a class="group flex flex-row gap-x-2 py-2 leading-6 font-medium text-gray-700 hover:text-blue-600 hover:bg-gray-100 rounded-full transition-all duration-300 ease-in-out"
              [class.px-2]="!isExpanded" [class.px-4]="isExpanded" [class.active]="isNavItemActive(navItem)"
              [routerLink]="navItem.path" [title]="navItem.title">
              <ng-icon size="1.5em" class="icon text-gray-500 group-hover:text-blue-600"
                [name]="navItem.icon"></ng-icon>
              <span *ngIf="isExpanded" class="inline-block transition-opacity duration-300 ease-in-out"
                [class.opacity-0]="!isExpanded" [class.opacity-100]="isExpanded">
                {{ navItem.title }}
              </span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <!-- separator -->
    <div class="border-b border-gray-900/10 transition-all duration-300 ease-in-out -mx-4"
      [class.opacity-0]="!isExpanded">
    </div>
    <!-- user menu -->
    <div tabindex="-1" class="px-1 -mt-2.5">
      <app-user-menu [isExpanded]="isExpanded"></app-user-menu>
    </div>
  </div>
</div>
<!-- sidebar toggle -->
<div tabindex="-1" class="absolute top-6 z-20 cursor-pointer transition-all duration-300 ease-in-out h-[20px]"
  [class.left-20]="!isExpanded" [class.left-72]="isExpanded" (click)="onClicked($event)"
  (keypress)="onKeyPress($event)">
  <div class="sidebar-toggle inline-flex flex-1 bg-blue-600 text-white -ml-2.5 rounded-full ">
    <ng-icon *ngIf="!isExpanded" size="20" name="heroArrowRightCircleMini" strokeWidth="1"></ng-icon>
    <ng-icon *ngIf="isExpanded" size="20" name="heroArrowLeftCircleMini" strokeWidth="1"></ng-icon>
  </div>
</div>